.header{
    height:100px;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    background:var(--bg);
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
}
.header__inner{
    width: 100%;
    display: grid;
    grid-template-columns: 23rem auto auto;
    padding: 30px;
    
}
.logo{
    width: 144.8px;
    height:40px;
}

.seach_inner{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
    border: 1px solid rgba(33, 63, 125, 0.2);
}
.control_search{
    position: relative;
    top: 0;
    right: 0;
    text-align: left;
    width: 100%;
    padding: 0 15px;
    height: 40px;
    background: #FFFFFF;
}

.btn_search {
    background: var(--btn-bg) url(./Searchvector.png) no-repeat center center;
    height: 100%;
    color: var(--btn-bg);
    width: 56px;
    background-size: 20px;
    top: 0;
    right: 0;
    padding: 5px;
    position: absolute;
}
.nav__con{
    gap: 34px;
    justify-content: flex-end !important;
}
.navcon__p{
    font-size: 16px;
    text-decoration-line: underline;
    color: #213F7D;
    cursor: pointer;
}
.navcon{
}
.user_nav_image{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.navcon h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #213F7D;
    padding: 0 10px;
}
.mobile-nav-toggle{
    display: none;
}

   

@media (max-width:62rem) {
.header{
    width: 100%;
    height:100px;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    background:var(--bg);
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
}
.header__inner{
    width: 100%;
    display: block;
    grid-template-columns: 23rem auto auto;
    padding: 30px;
    
}
.mobile-nav-toggle{
    display:block;
    position: absolute;
    z-index: 9999;
    width:2rem;
    height: 2rem;
    background:url("./hamburger.svg");
    background-repeat: no-repeat;
    background-position:center ;
    aspect-ratio: 1;
    border:0;
    top: 2rem;
    right: 1.4rem;
    border-radius: 5px;
    color:#fff;
    padding:.6rem;
    
}
.nav__con{
    gap: 34px;
    justify-content: flex-end !important;display: none !important;
}
.search__con{
    display: none;
}




}