@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
:root{
    --bg: #FFFFFF;
    --btn-bg: #39CDCC;
    --link-color: #39CDCC;
    --bold-color: #213F7D;
    --small-color: #545F7D;
    --flex-d: flex;
    --flex-m: block;
}
body{
    background: var(--bg);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;

}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
a{
    color: var(--link-color);
}
.btn{
    display: inline-block;
    color: var(--bg);
    cursor: pointer;
    border-radius: 8px;
    padding: 15px;
    font-size: 14px;
}
.btn:hover{
    display: inline-block;
    color: var(--link-color);
    background-color: rgba(0, 255, 255, 0.6);
}
img{
    display: block;
    width: 100%;
    object-fit: contain;
}
.container{
    width: 79%;
    margin: 0 auto;

}
.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-sb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Media Q */
@media screen and (max-width: 62rem) {
    .container{
        width: 100%;
        margin: 0 auto;
    
    }
}

/* Mobile */
@media screen and (max-width: 43rem) {
    .container{
        width: 100%;
        margin: 0 auto;
    
    }
}